@charset "utf-8";
/* CSS Document */


body{
}

div{}

.container{}

.container-fluid{
	padding: 0px;
}

.navbar-header {
    float: left;
    text-align: center;
    width: 100%;
}
.navbar-brand {
	float:none;
	padding: 0px;
}

header{}

section{}

footer{
	border-top: solid thin #9B9B9B;
	margin-top: 20px;
}

form{
	margin-top: 15px;
}

.req-show{
	border: solid medium #dc3545;
}

label{
	display: inline-block;
	padding-right: 5px;
}

select:hover{
	background-color: #eee;
}

.progressbar{
	width: 100%;
	height: 20px;
	background-color: #eee;
	margin-top: 10px;
	margin-bottom: 15px;
}

.status{
	height: inherit;
	background-color: #004BAF;
	width: 0%;
	transition-property: width;
	transition-timing-function: ease-in-out;
	transition-duration: 0.2s;
}



.nav-link{
	color: #049FD9;
}

#form-sections{
	width: 100%;
	border: solid thin rgb(222, 226, 230);
	border-top: transparent;
}

.sections{
	margin-top: 5px;
	margin-bottom: 10px;
}

.tab-pane{
	padding: 5px;
	padding-left: 10px;
}

.form-inline{
	display: inline;
}

.form-control{
	margin: auto;
	max-width: 500px;
}

.multi-select{
	max-width: 500px;
	height: 200px;
	overflow-y: scroll;
	padding: 0px;
}

.multi-select input{
	margin-left: 5px;
}

.multi-label{
	display: inline-block;
	width: 96%;
	margin-bottom: 0px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 3px;
	border-bottom: solid rgb(222, 226, 230) thin;
}

.multi-label:hover{
	background-color: #eee;
}

input:checked + .multi-label{
	background-color: #097DBC;
	color: white;
}

.menu-select{
	padding: 0px;
}


.menu-select li input{
	margin-right: 5px;
}

.btn-submit{
	background-color: auto;
	border: solid thin #049FD9;
	border-radius: 0px;
}

.btn-submit:active{
	border-color: transparent;
	background-color: #049FD9;
}

#success{
	margin-top: 15px;
	display: none;
}
