@charset "utf-8";
/* CSS Document */


body{
	font-family: Arial, sans-serif;
}

div{}

.container{}

.container-fluid{
	padding: 0px;
}

.navbar-expand-lg{
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	box-shadow: 0px 1px 15px #ccc;
}

#navbarSupportedContent{
	background-color: #049fd9;
}

#navbarSupportedContent ul{
	padding-left: 10px;
}

.navbar-light .navbar-nav .nav-link{
	color: white;
}

.navbar-brand{
	position:absolute;
	left:calc(50% - 30px);
	top:3px;
	height:90%;
}

.navbar-light button.navbar-toggler{
	height: 100%;
	border-radius: 0px;
	border-color: transparent rgba(0, 0, 0, 0.1) transparent transparent;
	font-size: 40px;
}

.nav-button-text{
	font-size: 15px;
}

header{}

section{}

footer{
	border-top: solid thin #9B9B9B;
	margin-top: 20px;
}

form{
	margin-top: 15px;
}

.req-show{
	border: solid medium #dc3545;
}

label{
	display: inline-block;
	padding-right: 5px;
}

select:hover{
	background-color: #eee;
}

.progressbar{
	width: 100%;
	height: 20px;
	background-color: #eee;
	margin-top: 10px;
	margin-bottom: 15px;
}

.status{
	height: inherit;
	background-color: #004BAF;
	width: 0%;
	transition-property: width;
	transition-timing-function: ease-in-out;
	transition-duration: 0.2s;
}



.nav-link{
	color: #049FD9;
}

#form-sections{
	width: 100%;
	border: solid thin rgb(222, 226, 230);
	border-top: transparent;
}

.sections{
	margin-top: 5px;
	margin-bottom: 10px;
}

.tab-pane{
	padding: 5px;
	padding-left: 10px;
}

.form-inline{
	display: inline;
}

.form-control{
	margin: auto;
	max-width: 500px;
}

.multi-select{
	max-width: 500px;
	max-height: 200px;
	overflow-y: scroll;
	padding: 0px;
}

.multi-select-element{
	margin-bottom: 0px;
	border-bottom: solid rgb(222, 226, 230) thin;
}

.multi-select-element input{
	margin-left: 5px;
}

.multi-select div.multi-select {
	width: 90%;
	height: 0%;
	margin-left: 10%;
	display: none;
	max-height: none;
	overflow-y: visible;
}

.multi-select div.multi-select label{
	width: 94%;
	border-bottom: solid rgb(222, 226, 230) thin;
}

.multi-label{
	display: inline-block;
	width: 90%;
	margin-bottom: 0px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 3px;
	border-right: solid thin rgb(222, 226, 230);
}

.multi-select-element a.dropdown-toggle{
	display: inline-block;
	width: 20px;
	height: 100%;
	line-height: 30px;
	margin-left: -5px;
	padding-left: 3px;
	box-sizing: border-box;
}

.multi-select-element a.dropdown-toggle:hover{
	background-color: #eee;
}

.multi-select-element a.dropdown-toggle:active{
	background-color: #aaa;
}

.multi-label:hover{
	background-color: #eee;
}


input:checked + .multi-label{
	background-color: #097dbc;
	color: white;
}

.multi-label-full{
	width: 95%;
}

.btn-submit{
	width: 200px;
	background-color: auto;
	border: solid thin #049fd9;
	border-radius: 30px;
	margin-left: 35%;
}

.btn-submit:active{
	border-color: transparent;
	background-color: #049fd9;
}

#success{
	margin-top: 15px;
	display: none;
}

.active{
    display:block;
}

.spinner{
	width: 50px;
	height: 50px;
	border: solid;
	border-width: 7px;
	border-radius: 50%;
	border-color: #004BAF #eee #eee #eee;
	animation: spin 1s infinite cubic-bezier(.58,-0.79,.43,1.9);
}

@keyframes spin{
  0%{transform:rotate(0deg);}
  100%{transform:rotate(360deg);}
}

@media(max-width: 995px){
	.multi-label{
		width: 85%;
	}

	.multi-label > a.dropdown-toggle{
		width: 20px;
	}



	.multi-label-full{
		width: 90%;
	}
}

@media(max-width: 374px){
	.multi-label{
		width: 80%;
	}

	.multi-label-full{
		width: 90%;
	}
}
